.tab {
    background-color: #fff;
    &__panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 540px;
        min-height: 43px;
    }
    &__item {
        position: relative;
        line-height: 21px;
        font-weight: 400;
        color: #3a5362;
        &_active {
            color: #fff;
            span {
                position: relative;
                z-index: 100;
            }
        }
        &_img {
            position: absolute;
            top: -5px;
            right: -18px;
            z-index: 1;
        }
    }
    &__sign {
        line-height: 21px;
        font-weight: 400;
        color: #3a5362;
    }

}