.second {
    background-color: #ddfaf7;
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 0;

        &_column {
            width: 287px;
        }

        &_logo {
            display: flex;
            align-items: center;
        }

        &_title {
            font-size: 22px;
            line-height: 21px;
            font-weight: 400;
            color: #4484ad;
            margin-left: 10px;
        }

        &_text {
            font-size: 13px;
            line-height: 22px;
            font-weight: 400;
            color: #43515a;
        }
    }
}