.intro {
    background-color: $main-color;
    color: #fff;
    position: relative;
    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 15px 20px;
        height: 113px;
    }
    &__icon {
        position: absolute;
        top: 15px;
        left: -10px;
        z-index: 10;
    }
    &__name {
        text-align: center;
        span {
            position: relative;
            line-height: 21px;
            &:last-child {
                font-family: serif;
            }
            z-index: 10;
        }
    }
    &__tel {
        text-decoration: none;
        color: #fff !important;
    }
    &__decor {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 113px;
        background: radial-gradient(circle, #6b99b6, $main-color);
        z-index: 1;
    }
    
}