.tab {
    background-color: #fff;
    &__panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 43px;
        margin-bottom: 20px;
        &_items {
            display: flex;
            width: 530px;
            justify-content: space-between;
        }
    }
    &__item {
        position: relative;
        line-height: 21px;
        font-weight: 400;
        color: #3a5362;
        z-index: 100;
        span {
            position: relative;
            z-index: 100;
        }
        &_active {
            color: #fff;
        }
        &_img {
            position: absolute;
            top: -5px;
            right: -18px;
            z-index: 1;
        }
        
    }
    &__sign {
        line-height: 21px;
        font-weight: 400;
        color: #3a5362;
    }
    &__content {
        display: none;
        position: relative;
        z-index: 100;
        width: 508px;
        &_active {
            display: block;
        }
        &_wrapper {
            display: flex;
            &_right {
                margin-left: 22px;

            }
        }
    }
    &__inner {
        &_panel {
            cursor: pointer;
            &_items {
                display: flex;
            }
            &_item {
                &:last-child {
                    margin-left: 6px;
                }
            }
        }
        &_content {
            display: none;
            width: 419px;
            background: linear-gradient(#60a4ce, #4680a4);
            position: relative;
            z-index: 10;
            padding: 20px 40px;
            border-top-right-radius: 10px;
            &_active {
                display: block;
            }
        }
        &_title {
            font-size: 16px;
            line-height: 21px;
            font-weight: 400;
            color: #ffffff;
        }
        &_input {
            width: 345px;
            height: 50px;
            background-image: linear-gradient(0.0deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%);
            border: 3px solid #316e94;
            border-radius: 10px;
            padding: 5px 20px;
            font-size: 17px;
            line-height: 21px;
            font-weight: 400;
            margin-top: 20px;
            &::placeholder {
                color: #347095;
            }
        }
        &_labels {
            font-size: 16px;
            line-height: 21px;
            font-weight: 400;
            color: #fff;
        }
        &_checkbox {
            margin-top: 10px;
        }
        &_selects {
            width: 204px;
            height: 32px;
            background-image: linear-gradient(0.0deg, rgba(244,244,244,0.4) 0%, rgba(243,243,243,0.4) 50%, rgba(255,255,255,0.4) 100%);
            border: 1px solid #bbbbbb;
            border-radius: 5px;
            box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.07);
            padding: 5px 10px;
            font-size: 14px;
            font-weight: 400;
            color: #347095;
            margin-top: 20px;
            margin-left: 10px;
        }
        &_button {
            margin-top: 20px;
            width: 210px;
            height: 45px;
            background-image: linear-gradient(0.0deg, #498ab2 0%, #6bb2dd 100%);
            border: 3px solid #d7d7d7;
            border-radius: 10px;
            font-size: 22px;
            line-height: 21px;
            font-weight: 700;
            color: #ffffff;
        }
        &_temp {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }

}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 44px;
    background-color: #c2f2ed;
    position: relative;
    z-index: 10;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    span {
        color: $main-color;
        font-size: 22px;
        line-height: 21px;
        font-weight: 700;
    }
    &_active {
        background-color: #60a4ce;
        span {
            font-size: 22px;
            line-height: 21px;
            font-weight: 700;
            color: #ffffff;
        }
    }
    
}