
@import './components/variables';
@import './components/sizes';
@import './components/fonts';
@import './screens/first/first.scss';
@import './screens/first/tab';
@import './screens/first/carousel';
@import './screens/second/second';
@import './screens/third/third';
@import './screens/fourth/fourth';
@import './screens/footer/footer';



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 140px;
}


@import './adaptation/media';


